$z_header: 100 !default;
#container{
	@include linear-grad(
	(
        (#242d5a,0,1),
        (#e41e25,80vw,1),
    ),
	'90deg');
}

.ce_headline{
  &:not([class*=ft-]){
    color: body(background); 
    letter-spacing: 1px;
    text-shadow: 
      0 2px 0px body(font-color), 
      0 3px 0px $primary, 
      0 4px 0px $primary, 
      0 5px 0px $primary, 
      // 0 6px 0px $primary, 
      0px 0px 3px rgba(body(font-color),.5);
    &:is(h1){font-weight: bold;}
    .block-std &{
      text-shadow: none;
      color: inherit;
    }
  }
	&.oval{ 
    @include paper(); 
    text-align: center; 
    padding: 1em 2em; 
    margin-bottom: 2em;
    border-radius: 200% 80% 200% 80%; 
    margin-left: auto;margin-right: auto; 
    aspect-ratio: 2/1.25; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 400px; 
    max-width: 100%; 
    border: 1px solid rgba(0,0,0,0.25);
		outline-style: dashed;
    outline-offset: -2em;
    outline-width: 16em;
    outline-color: rgba($primary,0.055);
    text-shadow: none;
	  &:not([class*=bg-]){background: body(block-background);}
	}
}

.headerFW__postnav{padding: 0;
  .mod_changelanguage{
    a{ 
      display: flex; align-items: center;justify-content: center;padding: 1em 1.25em; width: 100%; height: 100%; transition: background 0.5s;color: inherit; text-decoration: none;
      &:hover{background: rgba($primary,0.8); color: contrastFW(color(white),rgba($primary,0.8));}
    }
  }
}

.sidepanel{z-index: $z_header+1;}
.modalFW__header{padding: 1rem;}
.block-std{border-radius: $radius;}
.mod_article{margin-bottom: $spacing; padding: $spacing 0;
  @include media-max(xs){margin-bottom: $spacing/2;padding: $spacing/2 0;}
 }

.d-grid{
	&.cols-autofit{
		.block-card{min-width: $griditem-minwidth;}
	}
}

.tabs__nav{margin-bottom: 0;
  button{margin: 0;}
}
.tabs__content{@include paper(); border-radius: 0 0  $radius $radius; overflow: hidden; padding: 2.5em;}

.heroFW__title{@extend .txt--extrud !optional;}

#wrapper>#footer{padding: 0 !important; @extend .ft-exo !optional;}
#footer{
  .footer__copyright{margin: 0 -15px; padding: 0.5rem 1rem; background-color: color(greylight); color: body(font-color);font-weight: bold;}
  .footer__socials{display: block; margin: 0;
	a {font-size: 1.2rem; margin: .2rem; background: white; color: footer(background); border-radius: 40px; height: 40px; width: 40px; display: inline-flex; justify-content: center; align-items: center; }
  }
  .footer__nav{margin: 0;
    &>*{float: left;}
    li{margin: 0.1rem 0.3rem;}
  }

  .footer__grid{@extend .d-grid,.cols-3,.cols-xs-2;  padding: $spacing $spacing/2;
    @include media-max(xs){padding: $spacing/2 0;}
  }
  .footer__topleft{
    img{margin-bottom: 0.3rem;}
  }
  .footer__topright{grid-column: span 2;}
  .footer__bottomleft{}
  .footer__bottomright{grid-column: span 2; align-self: flex-end; justify-self:center;
    &:before{@include pseudo(block,relative); width: 100%; height: 1px; background: footer(font-color); margin-bottom: 0.2rem;}
  }
}

// games list
.mod_wem_rugby_game_list{}
.game_default{ position: relative; overflow: hidden;
  @include media-max(sm){margin-bottom: $spacing; padding: $spacing;}
  @include media-max(xxs){margin-bottom: $spacing*0.5; padding: $spacing*0.5;}
  .game__bg{position: absolute; inset: 0; z-index: 0; 
    img{object-fit: cover; object-position: center; height: 100%; width: 100%;}
    &:after{content:""; position: absolute; inset: 0; background: body(block-background); opacity: 0.8; z-index: 1;}
  }
  .game__content{position: relative; z-index: 1;}
  .game__details{}
  .game__teams{}
  .game__actions{}
}


.gamereader__hero{
  &[class*=content--] .heroFW__content{
    @include media-max(md){padding: $spacing;}
  }
}
.gamereader__hero__resume{align-items: baseline;}
.gamereader__hero__team{text-align: center; align-items: flex-end;
  .img-container{filter: drop-shadow(2px 4px 2px rgba(0,0,0,0.35));}
}
.gamereader__hero__team__data{width: 100%;}
.gamereader__hero__infos{align-self: center;}
.gamereader__hero__team{width: clamp(200px, 20vw,400px);}
.gamereader__hero__team__data{}


.mod_wem_rugby_game_reader{ 
  .team--title{@extend .ft-exo!optional; text-transform: uppercase; font-weight: bold; text-align: center;}
  .sidebar{
    .ce_image{text-align: center;}
  }
}


.mod_wem_community_display_ranking{
  .table td, .table th{vertical-align: middle;padding:.3rem .5rem;}
  .table-striped tbody tr:nth-of-type(odd){background: rgba($primary,0.1);}
  .table thead tr{background: $primary; color: white;}
}

.mod_wem_chat{ position: relative; padding: clamp(1em,5%,$spacing);
  .sidepanel &{ padding: 1em; margin: 0; background: none; box-shadow: none; border-radius: 0;}

  .pell-actionbar{justify-content: flex-end; }
  button.pell-button{flex-grow: 0; padding:.3em .5em !important; height: auto; min-width: 0; flex-basis: 50px; flex-shrink: 1; }
  #wem_chat_previewReply{ position: relative; border: 1px solid rgba(color(grey),0.5); border-radius: 3px; padding: 0.6em 0.8em 0.8em; font-size: 0.8em; margin-bottom: 0.5em;
    .close{position: absolute; top: 0; right: 0; cursor: pointer; font-size: 1.5em; width: 30px;line-height: 30px; text-align: center;}
    .content{padding: .5em 1em .85em; margin-left: 0.35em; border-left: 4px solid color(greylight); margin-top: 0.25em; font-style: italic;
      p:last-child{margin-bottom: 0;}
    }
    .author{font-size: 1.2em;}
  
    .block-list &{margin: $spacing; margin-bottom: 0; opacity: 0.7;}
  }

  .item{
    .wrapper{position: relative; padding: 1em 1.25em; background: transparent; border-radius: 5px; transition: background 0.3s; margin-bottom: 0.5em;}
    .reply{ font-size: 0.8em; opacity: 0.65; margin-bottom: 0.5em; @extend .ellipsis;
      &:before{display: inline-block; content:""; height: 1px; width: $spacing; background: color(grey);margin-right: 0.5em; vertical-align: middle;}
    }
    .headline{ margin-bottom: 0.25em;
      .author{font-weight: bold;}
      .date{opacity: 0.6; font-size: 0.8em;}
    }
    .actions{position: absolute; top: 0;transform: translateY(-40%); right: 0.8em; background: color(greylight); padding: 0.2em 0.75em; border-radius: 50px; transition: opacity 0.3s; pointer-events: none; opacity: 0; box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
      a{display: inline-block; margin: 0 0.5em; color: color(greystronger); opacity: 0.6; transition: opacity 0.3s;
        &:hover{opacity: 0.85;}
      }
    }
    .content{
      p:last-child{margin-bottom: 0;}
    }
    .figure{ margin-top: 1em;
      img{cursor: pointer;max-height: 200px; width: auto;}
    }
    &:hover,&.active{
      .wrapper{background: color(greylighter); box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.35);}
      .actions{opacity: 1; pointer-events: all;}
    }
    &.isReply{
      .wrapper{background: color(greylighter); box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.35);}
    }
  }
}
.wem_chat_messages{
  position: relative; max-height: 65vh; 
  overflow: auto; padding: 2em; padding-left: 0; margin-top: 1em;
  background: 
  linear-gradient(body(background) 33%, rgba(body(background), 0)),
  linear-gradient(rgba(body(background), 0), body(background) 66%) 0 100%,
  radial-gradient(farthest-side at 50% 0, rgba(color(blacklighter), 0.35), rgba(0,0,0,0)),
  radial-gradient(farthest-side at 50% 100%, rgba(color(blacklighter), 0.35), rgba(0,0,0,0)) 0 100%;
  background-color: body(background);
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 45px, 100% 45px, 100% 15px, 100% 15px;

  scrollbar-width: thin;
  scrollbar-color: rgba(body(font-color),0.1) rgba(body(font-color),0.01);
  &::-webkit-scrollbar {width: 5px; }
  &::-webkit-scrollbar-track {background: rgba(body(font-color),0.01); }
  &::-webkit-scrollbar-thumb {background-color: rgba(body(font-color),0.1); border-radius: 20px; border: 0; }
  +.pagination{margin-top: 1em; }

  .sidepanel &{max-height: none; padding: 0; overflow: visible;}
}
.wem_chat_goTop{position: absolute; z-index: 1; right: 0; bottom: 0; opacity: 0.2; transition: opacity 0.3s; cursor: pointer; border-radius: 100%; font-size: 1.5em; height: 60px; width: 60px; display: flex; justify-content: center; align-items: center;
  &:hover{opacity: 0.8;}
}

.leaflet-pane{z-index: $z_header - 2 !important;}
.leaflet-bottom, .leaflet-top{z-index: $z_header - 1 !important;}


#widgetQuizzToggler,
#widgetChatToggler{display: flex;flex-direction: column; align-items: center;justify-content: center;font-size: 3em;width: 2em; height: 2em; color: $primary; background: white; position: fixed; bottom: 1rem; right: 1rem; border-radius: 100%; cursor: pointer; z-index: $z_header;
  transition: all 0.5s;  transform-origin: 100% 100%;
  filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.5));
  &:hover,
  &.active{scale: 1.5;  z-index: $z_header+1;}
}
#widgetQuizzToggler{transform: translateY(-100%); margin-bottom: 1rem; transform-origin: 100% 0;}

.mod_wem_rugby_game_list{
  .pools{
    :not([class*=ft-]){color: color(white);}
  }
  .pool{align-items: flex-start;}
  .pool__header{display: grid; grid-template-columns: minmax(0,1fr) minmax(0,1fr);  align-items: flex-start;
    @include linear-grad(
    (
      (darken($primary,20),0,1),
      (lighten($primary,10),100%,1),
    ),
    'to right');
    >*{padding: 1em;}
  }
  .pool__title{display: flex; @extend .ft-exo !optional;}
  .pool__title__label{ writing-mode: vertical-lr; transform: rotate(180deg); text-align: right; font-size: 2.55em; font-weight: 600; line-height: 1;}
  .pool__title__letter{font-size: 7em; line-height: 0.8; font-weight: 800;}
  .pool__teams{text-transform: uppercase; font-size: 0.8em;line-height: 1.5; text-align: right;}
  .pool__teams__team{}
  .items{ 
    .game{padding: 1em; display: grid; gap: 1em; font-size: 0.85em; margin-bottom: 0; 
      height: 120px;
      @include linear-grad(
      (
        (darken($primary,20),0,1),
        (lighten($primary,10),100%,1),
      ),
      'to right');
      &:nth-child(odd){
        @include linear-grad(
        (
          (darken($primary,20),0,1),
          (lighten($primary,10),100%,1),
        ),
        'to left');
      }
    }
    .game__content{position: relative; display: grid; grid-template-columns: minmax(0,1fr) minmax(0,1fr); gap: 4ch; align-items: center; text-transform: uppercase; line-height: 1.4; font-weight: 700;
      .team{display: flex; justify-content: start; align-items: center; gap: 1em;
        &.teamA{justify-content: flex-end; text-align: right;}
      }
      .vs{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: 0.8em; }
      .team__label{}
      .team__score{width: 2.5rem; text-align: center;font-weight: 700; display: flex; flex-direction: column; align-items: center;justify-content: center; line-height: 1;}
      input.predictionBox{width: 2.5rem; aspect-ratio: 1/1; text-align: center; color:input(font-color); font-weight: 700; font-size: 1.2em;}
    }
    .game__details{font-size: 0.8em; text-align: center; font-weight: 300;
      strong{font-weight: 600;}
    }
  }
}


fieldset.allow-duplication{display: flex; gap: 1em;
  >legend{width: 100%; float: none;}
  .duplication-field-wrapper{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 1em; flex-grow: 1;
    @include media-max(sm){grid-template-columns: 1fr;}
    >:not([class*=m-bottom]){margin-bottom: 0;}
  }
  .duplication-buttons{display: flex; align-items: flex-end; gap: 5px;
    @include media-max(sm){flex-direction: column;justify-content: flex-end;}
    button{margin: 0 !important; @extend .squared !optional;}
  }
}